/* The fixed header takes up 40px */
body {
  padding-top: 60px;
  margin-bottom: 2em;
}

/* consistency between code and preformatted text */
code, pre {
  color: #0058b1;
  background-color: #f5f5f5;
}

/* Make pre-formatted code use 4 space tabs instead of 8 */
pre {
  tab-size: 4;
}

.spacer {
  margin-top: 2em;
}

/* Jasine Spec Runner */
.spec-runner {
  width: 100%;
  height: 700px;
  border: none;
}