<a class="sr-only" href="#content">Skip to main content</a>

<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/" class="navbar-brand">{nex.js}</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li {{#if model.routes.api.matchesUrl}}class="active"{{/if}}><a href="#/api">API</a></li>
        <li {{#if model.routes.example.matchesUrl}}class="active"{{/if}}><a href="#/example">Examples</a></li>
        <li {{#if model.routes.bestPractices.matchesUrl}}class="active"{{/if}}><a href="#/bestpractices">Best Practices</a></li>
        {{#if model.devMode}}<li {{#if model.routes.dev.matchesUrl}}class="active"{{/if}}><a href="#/dev">Dev</a></li>{{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/erikringsmuth/nex-js/zipball/master">Download</a></li>
        <li><a href="https://github.com/erikringsmuth/nex-js">View on GitHub <i class="fa fa-github fa-lg"></i></a></li>
      </ul>
    </nav>
  </div>
</header>

<main id="content-placeholder" class="container" role="main">
</main>
